
/*====================================== navbar css ====================================== */

.mainHeader .navbar-dark .navbar-nav .active>.nav-link,
.navbar-dark .navbar-nav .nav-link.active,
.navbar-dark .navbar-nav .nav-link.show,
.navbar-dark .navbar-nav .show>.nav-link {
    color: orange;
    border-bottom: 2px solid;
}

.mainHeader .navbar-nav .nav-link {
    color: rgba(255,255,255,.5);
    text-transform: uppercase;
}
.mainHeader .navbar-nav .nav-link:focus, .navbar-dark .navbar-nav .nav-link:hover {
    color: orange;
    border-bottom: 2px solid;
}

.mainHeader .navbar-brand{
    width: 120px;
}

.mainHeader .navbar-brand img{
    width: 100%;
    object-fit: cover;
}


/*==================== carousel css================================== */

 .mainSlider .carousel-item{
    height: 400px;
}

 .mainSlider .carousel-item img{
    height: 100%;
    object-fit: cover;
}

.mainSlider .carousel-caption{
        bottom: auto;
        top: 25%;
}




.paralyx{
    /* background-image:linear-gradient(to right, rgba(0, 0, 0, .7), rgba(0, 0, 0, .7)), url(../images/lights.jpg); */
    background-position:center ;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    position: relative;
} 
 
.paralyx::before {
    content: '';
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, .7);
    top: 0;
    left: 0;
    position: absolute;
}


/*  ========== video section css */
.paralyx.home{
    background-image: url( ../images/lights.jpg);
    
}
.paralyx.video{
    background-image: url( ../images/media.jpg);
    
}


/* ========== gallery css ================== */

.homeGallery a{
    height: 400px;
    width: 100%;
    display: inline-block;
}
.homeGallery a > img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}


.futr{
    background-color: #000;
}
 

/* ===================== about us testimonial css  ================*/

.owl-nav {
    position: absolute;
    top: 21%;
    left: -3%;
    width: 104%;
    display: flex;
    justify-content: space-between;
    /* border: 2px solid red; */
}
/* .tmslider .item{
    text-align: justify;
} */

.tmslider .item img{
    width: 80% !important;
    margin: 0 auto 10px;
    border-radius: 50%;
    border: 2px solid #fff;
}